@import "tailwindcss";

:root {
  /* Açık, profesyonel pembe tonlu arka plan + koyu gri metin */
  --background: #fff7fb; /* çok açık pudra pembe */
  --foreground: #111827; /* nötr koyu gri */
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  /* Tailwind font-sans -> Inter */
  --font-sans: var(--font-inter);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #020617;
    --foreground: #e5e7eb;
  }
}

body {
  background: var(--background);
  color: var(--foreground);
}

/* Küçük global düzenlemeler */
a {
  text-decoration: none;
}

main {
  min-height: 100vh;
}
